@import "../../common/color.scss";

.footer {
  background-color: $secondary-color;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer > div:nth-child(1) {
  font-weight: bold;
}

.footer > div:nth-child(2) {
  font-style: italic;
}
